<mat-card class="house-container">

    <mat-card-title>{{ house.title }}</mat-card-title>
  
    <mat-card-subtitle>{{ house.address }}</mat-card-subtitle>
  
    <!-- <img mat-card-image [src]="house.thumbnail" alt="House thumbnail"> -->
  
    <mat-card-content>
        <p>{{ house.description }}</p>
        <p>{{ house.price }}</p>
    </mat-card-content>
  
    <!-- This is where the SVG will be embedded -->
    <!-- <div [innerHTML]="house.floorPlan | safeHtml"></div> -->
    <!-- <div *ngIf="floorPlanSvg" [innerHTML]="floorPlanSvg"></div> -->

    <div>
        <div class="floor-plan-container">
            <object type="image/svg+xml" data="assets/floorplan1.svg" id="floorplanSvg" #floorplanSvg></object>
        </div>
    </div>
    
    <div>
        <h3>Room Details:</h3>
        <p *ngIf="selectedRoom">{{ selectedRoom }}</p>
    </div>

</mat-card>