// .room-photos {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
//     gap: 10px;

//     img {
//         width: 100%;
//         height: auto;
//     }
// }


:host {
    width: 100%; // Ensures it takes full width
    margin-top: 20px; // Adds space above for separation
    padding: 15px;
    box-sizing: border-box; // Include padding in width/height calculations

    // Add specific styles for details
}