:host {
    width: 100%; // Ensures it takes full width
    margin-top: 30px; // Adds space above for separation
    padding: 15px;
    box-sizing: border-box; // Include padding in width/height calculations
    
}

.room-photos {
        flex-wrap: wrap; // Allow multiple rows
        gap: 10px;
        justify-content: flex-start; // Align images to the start of the container
        img {
            flex: 1 1 50%;
            height: auto;
            object-fit: contain;
            max-width: 40%; // Override the previous max-width rule
            padding: 5px;
        }
}

@media (max-width: 768px) {
    .room-photos {
        img {
            flex: 1 1 50%;
            height: auto;
            object-fit: contain;
            max-width: 100%; // Override the previous max-width rule
            padding: 10px;
        }
    }
    
}


