.mainblock {
    width: 100%;
}

.floorplan {
    object {
        overflow: auto;
    }
}

// Big Screens:
@media (min-width: 768px) {
    .mainblock {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
        .floorplan {
            padding: 30px;
            min-width: 29%;
            flex-grow: 0; // Prevents the floorplan from growing
        }
        .room-detail {
            flex-grow: 1; // Will grow to fill the remaining space
            flex-shrink: 1; // Allows shrinking if necessary
            flex-basis: 65%;
        }
}

// Mobile screens:
@media (max-width: 768px) {
    .mainblock {
        width: 85%;
    }
    .floorplan {
        padding-top: 10px;
        width: 100%;
    }
}