.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.floorplan {
    object {
        width: 100%;
        aspect-ratio: 4 / 3; // This keeps the floorplan's aspect ratio constant
        max-height: 50vh; // Adjust based on your preference
        overflow: auto;
    }
}

.room-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;

    img {
        width: 100%;
        height: auto;
    }
}