:host {
    display: block; // Make sure the :host fills its container
    width: 100%; // This should stretch the component to the full width of its parent
    display: grid;
    background-color: #797979;  // Will stretch across the screen at top
    color: white;
    grid-template-columns: auto auto 1fr;
}

.house-intro {
    grid-column: 1;
    width: 100%; // Full width
    padding: 20px 0; // Vertical padding
}

    .house-thumbnail {
        width: 40%;
        border-radius: 8px;
    }

    .house-details {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

// Big screens:
@media (min-width: 768px) {
    .house-intro {
        display: flex;
        padding-left: 40px;
    }
        .house-thumbnail {
            width: 300px; // Width of the thumbnail for big screens
        }
}

// Mobile devices:
@media (max-width: 768px) {
    .house-intro {
        display: flex;
        flex-direction: column;
        align-items: center; // Centers children horizontally
        margin: 0 0; // Removes any horizontal margin
        width: 100%; // Ensures the div doesn't exceed the viewport width
    }

        .house-thumbnail {
            border-color: black;
            margin: auto; // Centers the image
            max-width: 100%; // Ensures the image is responsive and does not overflow
            height: auto; // Keeps the aspect ratio of the image
            border-radius: 8px; // Keeps the border-radius if you want rounded corners
        }

        .house-details {
            padding: 10px;
            width: 100%; // Ensures the div doesn't exceed the viewport width
            box-sizing: border-box; // Includes padding in the width calculation
            text-align: center;
        }
    
}